html{
  background-color: rgb(236, 238, 240);
}

* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  touch-action: manipulation;
  
}

.Title-Logo{
  display: inline-flex;
}

.LibraryLogo{
  margin-left: 5px;
  font-size: 40px;
}

.Header-container {
  padding: 9px 10px;
  background-color: #2d2d2e;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.Header-container h1 {
  font-size: 35px;
  margin: 0;
}

.Header-links {
  text-align: right;
  font-size: 40px;
  margin: 0;
  padding: 0;
}

.Header-links h2 {
  margin: 0 15px;
  font-size: 27px;
  color: #bcbaba;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.Header-links h2:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.title-link{
  color: white;
  text-decoration: none;
}

.title-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  background-color: #222222;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.button-link{
  text-decoration: none;
  color: rgb(194, 194, 194);
  display: inline-flex;
  font-size: 35px;
  margin-left: 5px;
  margin-top: 5px;
}

.button-link:hover{
  text-decoration: none;
  color: white;
}


.Home{
  display: flex;
  align-items: center;  
  flex-direction: column;
}


.Search-container {
  display: flex;
  font-size: 20px;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  border-radius: 5px;
  max-width: 900px; 
  padding: 20px 20px;
  box-sizing: border-box;
}

.Search-container input,
.Search-container select {
  margin: 0 10px;
  padding: 10px;
  font-size: 19px;
  border-radius: 5px;
  border: 2px solid #ccc;
}

.Search-container input {
  flex: 1;
}

input:focus{
  outline: none;
}

.Difficulty{
  font-size: 15px;
  border: solid 3px rgb(169, 169, 169);
  border-radius: 5px;
  margin: 10px;
}
.ApiItems-container {
  display: flex; 
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px; 
  margin-top: 20px;
}

.API {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: all 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
  width: 600px;
  max-width: 100%;
}

.API {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.attributes {
  flex: 1;
}

.Favorite {
  font-size: 35px;
  color: #d73b4b;
  cursor: pointer;
  transition: 0.3s ease, transform 0.3s ease;
}

.Favorite:hover{
  transition: 0.3s ease, transform 0.3s ease;
  font-size: 40px;
}

.api-link {
  color: #007bff;
  text-decoration: none;
}

.api-link:hover {
  text-decoration: underline;
}

p {
  font-size: 16px;
  color: #555;
  margin-top: 2px;

}

.API h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 0;
  text-align: left;
}

.API p{
  text-align: left;
}


.api-link {
  text-decoration: none;
  color: #000000;
  transition: color 0.3s ease, transform 0.3s ease;
}

.api-link:hover {
  color: #575859;
  transform: translateY(-3px);
}

html, body {
  height: 100%;
  margin: 0;
}

.Missing-Items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65vh;
  text-align: center;
  border-radius: 8px;
  padding: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.ErrorLogo {
  font-size: 100px;
  color: #d73b4b;
  margin-bottom: 20px;
}

.Missing-Title {
  font-size: 32px;
  margin-bottom: 10px;
}

.Missing-Items h2 {
  font-size: 18px;
}

.Missing-Items a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.Missing-Items a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.About{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  height: 60vh;
}

.About h1{
  font-size: 50px;

}

.About p{
  font-size: 30px;
  margin-top: 30px;
}

.API_properties {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.API_properties h1{
  margin-bottom: 10px;
}

.API_title {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  margin: 0;
  padding: 20px;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: white;
  width: 650px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.API_description{
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px 20px;
  background-color: white;
  min-width: 650px;
  max-width: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.API_example {
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  width: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Terminal {
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(44, 43, 43);
  width: 500px;
  height: 310px;
  display: flex;
  flex-direction: row; 
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.code-editor {
  width: 80%;
  margin: 0 auto;
  background-color: #2e2e2e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Terminal code {
  font-size: 15px;
  color: rgb(255, 96, 96);
  display: block; 
  word-wrap: break-word; 
  max-width: 375px; 
  white-space: normal; 
}

.Terminal {
  display: flex;
  flex-direction: row; 
  font-family: 'Courier New', Courier, monospace;
}

.lineNumber {
  font-size: 19px;
  color: #999;
  padding-right: 10px;
  user-select: none;
}

.code-content {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  color: #f8f8f2;
  font-size: 17px;
  line-height: 1.6;
}

.code-line {
  margin: 0px 0;
}

.Advanced{
  margin-top: 15px;
  color: #d73b4b;
  font-weight: bold;
}

.Intermediate{
  margin-top: 15px;
  color: rgb(255, 139, 56);
  font-weight: bold;
}

.Beginner{
  margin-top: 15px;
  color: rgb(75, 173, 92);
  font-weight: bold;
}

.favoriteItems{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeTitle{
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    margin: 0;
    padding: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: white;
    height: auto;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
  }


.favoriteTitle{
  font-size: 25px;
  font-weight: bold;
  color: #000000;
  margin: 0;
  padding: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: white;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, Helvetica, sans-serif;
}

.unavailable{
  text-align: center;
  font-size: 23px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.headerLinks {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  background-color: #2a2a2a;
  width: 190px;
  height: 240px;
  position: absolute;
  top: 155px;         
  right: 10px;    
  border-radius: 10px; 
  border: solid #6f6f6f  3px; 
  padding: 5px;
  margin-right: 5px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.headerLinks h2{
  margin: 10px;
  padding: 0px;
  font-size: 23px;
}

.qa{
  border-radius: 10px;
  padding: 20px 20px;
  background-color: white;
  min-width: 650px;
  max-width: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.FAQ{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.Bars{
  font-size: 50px;
  border: #6f6f6f 3px solid;
  padding: 5px;
  border-radius: 10px;
  margin-right: 5px;

}


@media (max-width: 600px) {
  .API {
    padding: 15px;
    width: 450px;
  }
  .qa{
    min-width: 100%; 
    max-width: 100%;
  }
  .API h1 {
    font-size: 20px;
  }

  .API_properties {
    padding: 15px;
    width: 100%; 
  }
  .Terminal code {
    font-size: 13px;
    color: #d73b4b;
    display: block; 
    word-wrap: break-word; 
    max-width: 320px; 
    white-space: normal; 
  }
  

  .API_title {
    font-size: 17px;
    padding: 15px;
    width: 100%;
  }

  .API_description {
    margin-top: 20px;
    padding: 15px;
    min-width: 100%; 
    max-width: 100%;
  }


  .API_example {
    padding: 15px;
    width: 100%;
  }


  .Terminal {
    width: 100%;  
    height: auto; 
  }

  .lineNumber {
    font-size: 16px;
  }

  .code-content {
    padding-left: 10px; 
    font-size: 12px; 
  }


  .Search-container input,
  .Search-container select {
    margin: 5px 30px;
    padding: 8px;
    font-size: 17px;
    border-radius: 5px;
    border: 2px solid #ccc;
  }

  .Search-container {
    padding: 10px;
    flex-direction: column;
  }
}

@media (max-width: 470px) {
  .Terminal code {
    font-size: 13px;
    color: #d73b4b;
    display: block; 
    word-wrap: break-word; 
    max-width: 245px; 
    white-space: normal; 
  }
  
  .API {
    padding: 15px;
    width: 350px;
  }
  .API h1 {
    font-size: 20px;
  }

  .API_properties {
    padding: 15px;
    width: 100%; 
  }


  .API_title {
    font-size: 15px;
    padding: 15px;
    width: 100%;
  }

  .API_description {
    margin-top: 20px;
    padding: 15px;
    min-width: 100%; 
    max-width: 100%;
  }


  .API_example {
    padding: 15px;
    width: 100%;
  }


  .Terminal {
    width: 100%;  
    height: auto; 
  }

  .lineNumber {
    font-size: 16px;
  }

  .code-content {
    padding-left: 10px; 
    font-size: 12px; 
  }


  .Search-container input,
  .Search-container select {
    margin: 5px 30px;
    padding: 8px;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid #ccc;
  }

  .Search-container {
    padding: 10px;
    flex-direction: column;
    
  }
}

.link{
  color: rgb(255, 0, 0);
}


